*

!.gitignore

!schemas/
!schemas/*.json

!rules/
!rules/*.json
!rules/**
!rules/**/*.json

!tests/
!tests/**
!tests/**/*.json

!specifications/
!specifications/**
!specifications/v0.1.0-draft/spec.md
!rfc.md
!references.md

!CHANGELOG.md
!CONTRIBUTING.md
!LICENSE
!README.md

!.github/
!.github/**
!.github/workflows/*.yml

!validate.sh

!docs/
!docs/*.md

!.gitmodules

!vendor/
!vendor/**

!converter/
!converter/**
