[submodule "vendor/Rubi"]
	path = vendor/Rubi
	url = https://github.com/RuleBasedIntegration/Rubi.git
[submodule "vendor/MathematicaSyntaxTestSuite"]
	path = vendor/MathematicaSyntaxTestSuite
	url = https://github.com/RuleBasedIntegration/MathematicaSyntaxTestSuite.git
